@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;600&display=swap');


body {
    font-family: 'Maven Pro', sans-serif;
}

.card {
    background-color: white;
    display: flex;
    height: 222px;
    margin-top: 60px;
    color: black;
    border-radius: 30px;
    align-items: center;
    justify-content: space-between;
    padding: 0.4rem;

    margin-bottom: 61px;

    &__left {
        flex: 1;
        display: flex;
        justify-content: center;

    }

    &__info {
        flex: 2;
        display: flex;
        flex-direction: column;
        text-align: left;
        font-size: 2rem;

    }

    &__title {
        font-weight: bold;

    }

    &__membership {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 75%;
        flex-direction: row-reverse;

        & img {
            max-width: 10%;
            height: auto;
            border-radius: 50%;
        }
    }



    &__image-container {
        border-radius: 50%;
        height: 144px;
        overflow: hidden;
        padding: 0;
        aspect-ratio: 1/1;
        box-shadow: -1px 6px 11px -3px rgba(0, 0, 0, 0.44);
        -webkit-box-shadow: -1px 6px 11px -3px rgba(0, 0, 0, 0.44);
        -moz-box-shadow: -1px 6px 11px -3px rgba(0, 0, 0, 0.44);

        & img {
            max-width: 100%;
            max-height: 100%;
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: 0 55%;
            margin: 0;
        }
    }


}

.section {
    font-family: 'Maven Pro', sans-serif;

    &__button-group {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
    }

    &__button {
        min-width: 270px;
        transition: filter 0.2s;
        font-size: 1.2rem;
        border-radius: 30px;
        border: none;
        background-color: transparent;
        padding: 0.4em 0.8em;

        &:hover {
            filter: brightness(0.9);
        }

        &--responsibilities {
            background-color: limegreen;
        }

        &--standards {
            background-color: lightpink;
        }

        &--results {
            background-color: lightblue;
        }
    }

    &__image-container {

        &>img {
            max-height: 88px;
            margin: 0;
        }

    }

    &__textbox {
        position: absolute;
        border-radius: 20px;
        background-color: purple;
        padding: 1.2rem;
        height: 120px;
        opacity: 1;
        transition-property: opacity, transform;
        transition-duration: 0.4s;
        transition-timing-function: cubic-bezier(.13, .96, 1, .97);
        min-width: 450px;

        & p {
            margin-top: 0;
            font-size: 14px;
        }



        &--inactive {
            transform: translate(0, 0) !important;
            opacity: 0;
        }

        &:nth-of-type(1) {
            transform: translate(590px, -220px);
        }

        &:nth-of-type(2) {
            transform: translate(590px, -28px);
        }

        &:nth-of-type(3) {
            transform: translate(590px, 164px);
        }
    }

    &__responsibilities {
        position: absolute;

        &>div {
            background-color: limegreen;
        }
    }

    &__results {
        position: absolute;

        &>div {
            background-color: lightblue;
            color: black;
        }
    }

    &__standards {
        position: absolute;

        &>div {
            background-color: lightpink;
            color: black;
        }
    }
}

// @keyframes textbox1 {

// }
// @keyframes textbox2 {

// }
// @keyframes textbox3 {

// }